#### Q1. What is a database? Differentiate between SQL and NoSQL databases
ANS -> 
Database --> Database is a structured collection of data that is stored in the organized way.
data stored in the electoronically in a computer system. and it is controlled by a database management system.

                                Sql V|S NoSQL

Sql --> 

1. Databases are categorized as RDBMS.
2. Data Stored in Row or Columns 
3. SQL database have predefined schema.
4. SQL databases are vertically scalable.
5. SQL databases are best suited for complex queries


NoSQL --> 

1. Databases are categorized as Non_RDBMS or distributed.
2. Data stored in the key - value pain , document , graph.
3. NoSQL database have dynamic database schema.
4. NoSQL databases are horizontally scalable.
5. NoSQL databases are not so good for complex quiries because these are not as powerful as SQL queries.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS ->

DDL (Data Defination Language) ->

DDL is used to define and manage, modify, delete  the strucutre of the database.

1. CREATE -> "CREATE" statement is used to create a new database, tables , indexs.

2. DROP -> "DROP" statment is used to delete already exits  tables, indexs,view's

3. TRUNCATE -> "TRUNCATE" Statement is used to remove all data from an existing table, but it retains the table structure for future data insertion.

### Example

Ex. 1.

CREATE TABLE table_name (
    column1 datatype1 constraints,
    column2 datatype2 constraints,
);


Ex.2.
DROP TABLE table_name;


Ex.3. 
TRUNCATE TABLE table_name;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS ->

DML(Data Manipulation Language)-> DML quries used to manage and manipulate data withing a realation data base. DML quries allow to perfomrm operation's like inserting new data , updating existing data and delete operation.

1. INSERT : "INSERT" statement is used to add new records.it will help to insert data into table.

2. UPDATE : "UPDATE" statement is used to updata the existing data in the table.

3. DELETE : "DELETE" statement is used to delete records form the table.

#### Example
Ex.1. 
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);


Ex.2. 
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

Ex.3.

DELETE FROM table_name
WHERE condition;

#### Q4. What is DQL? Explain SELECT with an example.

ANS -> 

DQL (Data Query Language) -> DQL is used to fatch data from the database. DQL command's mainly used to readind and retreving the data from the database without modifying the data.

1. SELECT : "SELECT" statement is used to retrieve data from a database table.we can apply condition while fatching the data with the help of "WHERE" statement.

Ex. 
qurery syntax -->

SELECT emp_name, emp_job_title,FROM emp_data WHERE emp_salary == 40000;

Expected Output --> 

    name           job_title     
 Rohit D      Software Engineer 
 ROHIT E      Data Scientist    
 ROHIT V      DevOps Engineer

#### Q5. Explain Primary Key and Foreign Key.

A. Primary Key -> 
1. Primary key is used to set unique data into a table. 
2. It helps to remove duplicasey of the data. 
3. table can only have one Primary key.
4. Primary key ensure the data must be unique and not - null

B. Foreign Key -> 
1. Foreing key is used to stablish a relationship between two tables.
2. The values in the Foreign Key column of one table match the values in the Primary Key column of another table.
3. A table can have multiple Foreign Keys  and they can be null to represent optional relationships.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

1. cursor() -> the cursor method is used to create cursor object and that allow you to execute sql query and fatch data from the database.

2. execute() -> the execute method is used to sql qurery or sql statement with the use of cursor object.

Ex. 
cursor = mydb.cursor() # creating cursor object
print(cursor.execute("SHOW DATABASES")) # printing and executing sql query.

In [10]:
# CODE FOR Q6. 

import mysql.connector
mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = ""
)
cursor = mydb.cursor()
print(cursor.execute("SHOW DATABASES"))
for i in cursor:
    print(i)

None
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('python_test',)
('rohit',)
('sql1',)
('test',)

#### Q7. Give the order of execution of SQL clauses in an SQL query

ANS -->
1. FROM clause: Specifies the tables from which data will be retrieved.
2. JOIN clauses: If applicable, combine data from multiple tables based on specified conditions.
3. WHERE clause: Filters the rows based on specified conditions.
4. GROUP BY clause: Groups the rows based on specified columns.
5. HAVING clause: Filters the groups based on specified conditions.
6. SELECT clause: Selects the columns to be included in the result set.
7. ORDER BY clause: Sorts the result set based on specified columns.
8. LIMIT/OFFSET clause (if supported by the database): Limits the number of rows returned or skips a specified number of rows.